*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
body{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;
    background-color: #0c1022;
}
.login_form_container{
    position: relative;
    width: 400px;
    height: 470px;
    max-width: 400px;
    max-height: 470px;
    background: white;
    border-radius: 50px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
}
/* .login_form_container::before{
    position: absolute;
    width: 170%;
    height: 170%;
    content: "";
    
} */